body {
  font-family: sans-serif;
  margin: 0;
  background-image: url("bg.jpg"); /* Replace with your background image URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8); /* White background with some transparency */
  padding: 30px;
  border-radius: 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#generate-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3498db; /* Blue button color */
  color: white;
  font-size: 16px;
}

#quote-box {
  margin-top: 20px;
}

#quote {
  font-size: 1.2em;
  font-style: italic;
  margin-bottom: 10px;
}

#author-name {
  font-style: normal;
}
